; This is the Script for PISTORM32/EMU68
; Format: |Config|ParName=ParValue|...|
; Settings for Pistorm with EMU68:
;   WHD=+x y -z... , update ToolTypes on INFO file (INFO param must be in command line)
;                    +x, y = Tooltypes to add, -z = Tooltype to remove
;   NBW=x, x=[0,1], default is 0
;   SDCHIP=x, x=[SC, NSC], default is NSC
;   SCS=x, x=[1..8], default is 1, implies SDCHIP=SC
;   SDDBF=x, x=[DBF, NDBF], default is NDBF
;   ICNT=a, a=[1..256], SETJITICNT default is 255
;   IRNG=b, b=[1..65535], SETJITIRNG default is 16383
;   LCNT=c, c=[1..16], SETJITLCNT default is 8
;   SFL=d,  d=[1..4000], SETJITSFL default is 500
;   CCRD=r, r=[0..31], CCRD default is 20, forced to 0 if ICNT=1
;   JIT=a-b-c,    \   set ICNT-IRNG-LCNT-CCRD-SFL
;   JIT=a-b-c-d,   >  (for ranges, see above)
;   JIT=a-b-c-r-d,/
;   Turbo=x, x=[0,1], default is 1
;   NCache=x, x=[CACHE,NOCACHE], default is CACHE
;   CLKRT=x, x=[600..], SETCLOCKRATE default depends on PI, WARNING: use with caution!
;   DWNCLK=x, x=[0,1,...], default is 0. WARNING: CHECK Emu68Downclocker before using!
;   ARMCLK=x, x=[0,1,...], use CLKRT if x>=600, or DWNCLK if x<600 (see above)
;
; Last Updated: 2024-01-14
; Taken from PiStorm Compatibility Sheet at
; https://docs.google.com/spreadsheets/d/1Y-2eRNB6LaLTRhYJo_Wxsp3AUeZmWp-0QBYirMoHkc8/edit#gid=1759583759
;
; By Shaytan, PiModel: RPI 4b, OS: 3.2.2.1, Motherboard: A1200 1.D4, WHDLoad: 18.9.6601
; CONFIG.TXT: arm_boost=1 force_turbo=1 core_freq=600
; PiStorm32 FW tested:
;   27.08.2023 beta 2.1 (hotfix)
;   05.8 Claude Combo release
;
; NOTE: List of Magazines bellow is for Pistorm32/A1200 with a Pi4B

; == Default (when no other config is matched) ======================================
|DEFAULT|JIT=2-16383-8-20-500|Turbo=1|NCache=CACHE|SDCHIP=NSC|SDDBF=DBF|NBW=0|

; == WHDLoad (called in WHDLoad.prefs)===============================================
|WHDLoadStartup|JIT=2-16383-8-20-500|Turbo=1|NCache=CACHE|SDCHIP=NSC|SDDBF=DBF|NBW=0|
|WHDLoadCleanup|ARMCLK=1500|JIT=255-16383-8-20-500|Turbo=1|SDCHIP=NSC|NCache=CACHE|SDDBF=NDBF|NBW=0|

; == TESTING ========================================================================
|Check|INFOBOX=Seems to be working!|
|Test1|ECHO=waiting 5 secs|SLEEP=5|
|Test2|PAUSE=press RETURN to continue|
|Test3|SHELL=echo This is a SHELL Test|
|Test4|INFOBOX=This is a InfoBox|ERRORBOX=This is a ErrorBox|

; == MAGAZINES  =====================================================================
